*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    height: 100vh;
    position: relative;
}

.body img{
    width: 100vw;
    display: block;
    position: relative;
}

.body h1{
    position: absolute;
    left: 57%;
    top: 42%;
    transform: translate(-50%, -50%);
    z-index: 999;
    max-width: 430px;
    font-size: x-large;
}


.body::after{
    left: 1055px;
    content: "";
    width: 250px;
    height: 140px;
    position: absolute;
    background-color: #F6D528;
    /* border: 1px solid black; */
    top: 346px;
    z-index: 900;

}

.body::before{
    left: 1050px;
    content: "";
    width: 192px;
    height: 93px;
    position: absolute;
    background-color: #F6D528;
    /* border: 1px solid black; */
    top: 50%;
    z-index: 900;
}